body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #222;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
    padding: 0;
    margin: 0;
}

.Header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.Intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: #34a6e2 url("https://proprikol.ru/wp-content/uploads/2021/05/kartinki-telegramm-41.jpg") center no-repeat;
    background-size: cover;
    background-position: center;
}

.Intro_Text {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222;
    text-align: center;
    line-height: 1.1;
}

.Intro_Text:after {
    content: "";
    display: block;
    width: 500px;
    height: 3px;
    margin: 0 auto;
    background-color: #222;
}

.Intro_Inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.btn {
    display: inline-block;
    vertical-align: top;
    border: 2px solid #222;
    padding: 8px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
    transition: all .2s linear;
}

.btn:hover {
    background-color: #222;
    color: #fff;
}

.Container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 0;
}

.Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #222;
}

.Logo a{
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    padding: 10px;
    color: #222;
}

.Button li {
    display: inline-block;
}

.Button li a {
    color: #222;
    opacity: 0.6;
    text-decoration: none;
    padding: 15px;
    transition: all .1s ease-in-out;
}

.Button li a:hover {
    opacity: 1;
}